<!DOCTYPE html>
<html ng-app="Testah" ng-controller="ResultController">
	<head>
		<title>{{title}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
		<script src="./js/app.js"></script>
	</head>
	<body>
		<div>
			<div>
				<h2>Current test:</h2>
				<select ng-model="selectedTest"
								ng-options="test.name for test in tests"
								ng-change="changeResults()">
				</select><hr />
				<table border="1" style="">
					<tr>
						<th>Project</th>
						<th>Test</th>
						<th>Submitted By</th>
						<th>Date Run</th>
						<th>Runtime</th>
						<th>State</th>
					</tr>
					<tr ng-repeat="result in results">
						<td>{{result.test.project}}</td>
						<td>{{result.test.name}}</td>
						<td>{{result.owner.name}}</td>
						<td>{{result.date}}</td>
						<td>{{result.runtime}}</td>
						<td>{{result.state}}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
